<div class="form">
<% if(reltype != nil) %>
Vous ajoutez une nouvelle relation:<br/>
<br/>
<% end %>

<% form_remote_tag(:url => { :action => "create" }, :update=>'edit') do %>
  
  <label for='person_name'>Prénom:</label>
  <%= text_field :person, :surname, :size=>10 %><br/>
  
  <label for='person_fam_name'>Nom:</label>
  <%= text_field :person, :fam_name, :size=>10 %> de jeune fille pour une femme<br/>
  
  <label for='person_sex'>&nbsp;</label>
  <%= radio_button :person, :sex, 0%> Homme  
  <%= radio_button :person, :sex, 1, :style=>"margin-left:20px;" %> Femme<br/>
  
  <label for='person_birth'>Naissance:</label>
  <%= text_field :person, :birth, :size=>10 %> AAAA/MM/JJ on verra ça plus tard<br/>

  <label for='person_death'>Mort:</label>
  <%= text_field :person, :death, :size=>10 %> AAAA/MM/JJ on verra ça plus tard<br/>

  <label for='person_notes'>Notes:</label>
  <%= text_area :person, :notes, :rows=>4 %><br/>

  <br/>  
  <label for='submit'>&nbsp;</label>
  <%= submit_tag 'Ajouter' %>
  
<% if(reltype != nil) %>
<input type="hidden" name="reltype" value="<%=reltype%>">
<input type="hidden" name="for_id" value="<%=id%>">
<% end %>
  
<% end %>
</div>

